html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calculator-container {
  margin: 50px auto;
  background-color: black;
  width: 23%;
  height: 40%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.calculator-display {
  width: 91%;
  padding: 16px;
  text-align: right;
  font-family: monospace;
  background-color: black;
  color: white;
  font-size: 32px;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content:stretch;
  justify-items: center;
}

button {
  width: 24.5%;
  font-size: 32px;
  padding: 30px;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  border: none;
  border-bottom: 1px solid black;
}

button:hover {
  background-color: rgba(220, 220, 220, 0.9);;
}

button:active {
  background-color: rgba(220, 220, 220, 0.7);;
}

.operator {
  background-color: rgb(255, 140, 0);
  color: white;
}

.operator:hover {
  background-color: rgba(255, 140, 0, 0.9);
}

.operator:hover:active {
  background-color: rgba(255, 140, 0, 0.7);
}

.first-row:first-child {
  width: 49.7%;
}

.zero {
  width: 75.2%;
  border-right: 1px solid black;
}

.fifth-row {
  border-bottom: 1px solid lightgray; 
}